<div>
  <h1>Iniciar Session</h1>
  <form id="loginForm">
    <label>Email</label>
    <input type="text" name="email" value="adminCoder@coder.com"/>
    <br>
    <label>Contrasenia</label>
    <input type="text" name="password" value="adminCod3r123"/>
    <br>
    <input type="submit" href="/"/>
  </form>
   <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
  <div>
    <a href="/api/sessions/github"><button>Entrar con GitHub</button></a>
  </div>
</div>
<script src="/js/login.js"></script>