<div>
  <h1>Registrar Usuario</h1>
  <form id="registerForm">
    <label>Nombre</label>
    <input type="text" name="first_name"/>
    <br/>
    <label>Apellido</label>
    <input type="text" name="last_name"/>
    <br/>
    <label>Email</label>
    <input type="text" name="email"/>
    <br/>
    <label>Contrasenia</label>
    <input type="text" name="password"/>
    <br/>
    <input type="submit" />
  </form>
   <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>